<ul class="breadcrumb">
{#<ul class="nav navbar-nav">#}
  {% for crumb in breadcrumbs %}
  <li {% if not crumb.url %}class="active"{% endif %}>
    {% if crumb.url %}
    <a href="{{ crumb.url }}" title="{{ crumb.name }}">{{ crumb.name }}</a>
    {% else %}
    {{ crumb.name }}
    {% endif %}
  </li>
  {% endfor %}
</ul>

