{% load i18n %}
<ul class="pagination">
{#  <li class="index">#}
{#    {% blocktrans with current_page=page.number total_page=page.paginator.num_pages %}Page {{ current_page }} of {{ total_page }}{% endblocktrans %}#}
{#  </li>#}


  <li {% if not page.has_previous %} class="disabled"{% endif %}>
    <a href="{% if page.has_previous %}?page={{ page.previous_page_number }}{{ GET_string }}{% else %}#{% endif %}"
       title="{% trans "More recent entries" %}">&laquo;</a>
  </li>


  {% for page_number in begin %}
  <li class="{% ifequal page.number page_number %}active{% endifequal %}">
    {% ifequal page.number page_number %}
    <a href="#">{{ page_number }}</a>
    {% else %}
    <a href="?page={{ page_number }}{{ GET_string }}"
       title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
    {% endifequal%}
  </li>
  {% endfor %}

  {% if middle %}
<li class="disabled"><a href="#">&hellip;</a></li>
  {% for page_number in middle %}
  <li class=" {% ifequal page.number page_number %}active{% endifequal %}">
    {% ifequal page.number page_number %}
    <a href="#">{{ page_number }}</a>
    {% else %}
    <a href="?page={{ page_number }}{{ GET_string }}"
       title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
    {% endifequal%}
  </li>
  {% endfor %}
  {% endif %}

  {% if end %}
  <li class="disabled"><a href="#">&hellip;</a></li>
  {% for page_number in end %}
  <li class="{% ifequal page.number page_number %}active{% endifequal %}">
    {% ifequal page.number page_number %}
    <a href="#">{{ page_number }}</a>
    {% else %}
    <a href="?page={{ page_number }}{{ GET_string }}"
       title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
    {% endifequal%}
  </li>
  {% endfor %}
  {% endif %}


  <li class="{% if not page.has_previous %}disabled{% endif %}">
    <a href="{% if page.has_next %}?page={{ page.next_page_number }}{{ GET_string }}{% else %}#{% endif %}"
       title="{% trans "More old entries" %}">&raquo;</a>
  </li>

</ul>
