{% load cms_tags sekizai_tags menu_tags %}
{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>FIVV-SLQT</title>

    {% render_block "css" %}
    {% addtoblock 'js' %}
        <script src="{% static 'js/jquery.js' %}"></script>
{#        <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>#}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endaddtoblock %}
    {% addtoblock 'css' %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

        <link href="{% static 'css/custom-bootstrap.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">
    {% endaddtoblock %}

    <link rel="pingback" href="/xmlrpc/"/>
    <link rel="home" href="{% url 'zinnia_entry_archive_index' %}"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
{#      <script src="{% static "js/html5shiv.js" %}></script>#}
{#      <script src="{% static "js/respond.min.js" %}></script>#}
    <![endif]-->
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}zinnia/css/ie.css" />
    <![endif]-->
    {% block meta %}{% endblock %}
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>

{% cms_toolbar %}

<div class="bg-deco-right">
    <header class="logo-container">
        <a href="/">
        <img class="clouds" alt="nuages" src="{% static 'img/clouds.png' %}">
        <img class="logo-big"
             alt="Blazon de la Fédération Internationale de Vo Viet Nam FIVV - SLQT Son Long Quyen Thuat"
             src="{% static 'img/logo-only.png' %}">
        <img class="logo-small"
             alt="Blazon de la Fédération Internationale de Vo Viet Nam FIVV - SLQT Son Long Quyen Thuat"
             src="{% static 'img/logo-sm.png' %}">
            </a>
    </header>
    <div class="container">
        <div class="bg-content">
            {% block menu %}

                <nav class="navbar navbar-default row" role="navigation">
                    <!-- navbar toggle -->
                    <div class="navbar-header col-md-12">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        {#        <div class="nav-collapse collapse">#}
                        <ul class="nav navbar-nav">
                            {% show_menu 0 100 100 100 %}

                        </ul>
                        {% block menu_zinia %}<ul class="nav navbar-nav pull-right">

{#        <li class="">#}
{#            <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap">#}
{#                {% trans "Sitemap" %}#}
{#            </a>#}
{#        </li>#}
        <li class="pull-right">
            <a href="{% url 'zinnia_entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}"
               class="feeds">
                {% trans "RSS Feed" %}
            </a>
        </li>

    </ul>{% endblock %}
                    </div>
                </nav>


            {% endblock %}
            {% block breadcrumbs %}
                <ol class="breadcrumb">
                    {% show_breadcrumb %}
                </ol>
            {% endblock %}
            {% block content %}

                <div class="col-sm-8">
                    <h3 class="text-center">{{ request.current_page|capfirst }}</h3>


                    {% placeholder "content" %}


                </div>
                <div class="col-sm-4">


                    {% placeholder "sidebar" %}

                </div>

            {% endblock %}
            <div class="col-sm-8">
                {% block admin_tools %}
                {% endblock %}
            </div>
        </div>
        <footer class="footer-container">
            {% static_placeholder "footbar" %}
        </footer>
    </div>
</div>
{% render_block "js" %}

</body>
</html>
