{% extends "zinnia/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password required" %}{% endblock %}

{% block body-class %}password-required{% endblock %}

{% block content %}
<h2>{% trans "Password required" %}</h2>
<div>
  {% if error %}
  <p class="error">
    {% trans "The password provided is not valid. Please try again." %}
  </p>
  {% endif %}
  <p>
    {% trans "You need to provide a password to view this entry." %}
  </p>

  <form method="post" action="">
    {% csrf_token %}
    <table>
      <tr>
        <td><label for="id_password">{% trans "Password" %}</label></td>
        <td><input name="entry_password" id="id_password" type="password" /></td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="{% trans "Valid" %}" />
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
