{% extends 'base.html' %}
{% load i18n menu_tags %}
{% load url from future %}
{% load static from staticfiles %}



{% block menu_zinia %}
    <ul class="nav navbar-nav pull-right">

        <li class="">
            <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap">
                {% trans "Sitemap" %}
            </a>
        </li>
        <li class="pull-right">
            <a href="{% url 'zinnia_entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}"
               class="feeds">
                {% trans "RSS Feed" %}
            </a>
        </li>

    </ul>
{% endblock %}
{#        <form class="navbar-form pull-right"  style="width: 200px;" method="get" action="{% url 'zinnia_entry_search' %}">#}
{##}
{#                <input class="form-control" type="text" value="{% trans "Keywords..." %}" name="pattern"#}
{#                       onfocus="this.value=''">#}
{#                <input type="submit" class="hidden" value="">#}
{##}
{#        </form>#}
{% block content %}
            <div class="col-sm-8">



                    <div class="links">
                        <h3>{% trans "Useful links" %}</h3>
                        <ul>
                            <li>
                                <a href="{% url 'zinnia_entry_archive_index' %}" title="{% trans "Weblog index" %}">
                                    {% trans "Weblog index" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}">
                                    {% trans "Sitemap" %}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="search">
                        <h3>{% trans "Search" %}</h3>
                        {% include "zinnia/tags/search_form.html" %}
                    </div>

                </div>

            <div class="col-sm-4">
                {% block sidebar %}

                {% endblock %}
                {% block admin_tools %}
                {% endblock %}
            </div>

        {% block slider %}{% endblock %}

{% endblock %}
