body {

    background: url(/static/image/licorn.jpg) no-repeat top center;

}
.col-lg-5 {
width: 36.66666666666667%;

}
.col-lg-2 {
width: 16.666666666666664%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
float: left;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.row {
margin-right: auto;
margin-left: auto;
max-width: 1170px;

}
.row:before, .row:after {
display: table;
content: " ";
}
.row:after {
clear: both;
}

#djangobbwrap {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-repeat: repeat-y;
}


/*.navbar:after {*/
    /*clear: both;*/
/*}*/
/*.navbar:after {*/
    /*clear: both;*/
/*}*/
/*.navbar:before, .navbar:after {*/
    /*content: " ";*/
    /*display: table;*/
/*}*/
/*.navbar:before, .navbar:after {*/
    /*content: " ";*/
    /*display: table;*/
/*}*/

/*.navbar {*/
    /*min-height: 5px;*/
    /*margin: 0px;*/
/*}*/
/*.navbar-default {*/
    /*background-image: linear-gradient(#BE5151, #8E3535 55%, #722A2A 57%, #803030);*/
    /*background-repeat: no-repeat;*/
    /*box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3) inset;*/
/*}*/
/*.navbar-default {*/
    /*background-color: #8E3535;*/
    /*border-color: #762C2C;*/
    /*font-family: noto_sans,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*font-size: 0.9em;*/
    /*text-transform: none;*/
/*}*/
/*.navbar-default {*/
    /*background-color: #F8F8F8;*/
    /*border-color: #E7E7E7;*/
/*}*/
/*.navbar {*/
    /*border-radius: 4px;*/
/*}*/
/*.navbar {*/
    /*position: relative;*/
    /*min-height: 50px;*/
    /*margin-bottom: 20px;*/
    /*border: 1px solid transparent;*/
/*}*/
/*article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {*/
    /*display: block;*/
/*}*/
/**, *:before, *:after {*/
    /*box-sizing: border-box;*/
/*}*/
/*.navbar-header:after {*/
    /*clear: both;*/
/*}*/
/*.navbar-header:after {*/
    /*clear: both;*/
/*}*/
/*.navbar-header:before, .navbar-header:after {*/
    /*content: " ";*/
    /*display: table;*/
/*}*/
/*.navbar-header:before, .navbar-header:after {*/
    /*content: " ";*/
    /*display: table;*/
/*}*/
/*.navbar-header {*/
    /*float: left;*/
/*}*/

/*.navbar-default .navbar-toggle {*/
    /*color: #D2AEAE;*/
    /*margin: auto;*/
    /*width: 100%;*/
    /*height: 30px;*/
    /*border: 0px none;*/
/*}*/
/*.navbar-default .navbar-toggle {*/
    /*border-color: #DDD;*/
/*}*/
/*.navbar-toggle {*/
    /*display: none;*/
/*}*/
/*.navbar-toggle {*/
    /*position: relative;*/
    /*float: right;*/
    /*margin-right: 15px;*/
    /*padding: 9px 10px;*/
    /*margin-top: 8px;*/
    /*margin-bottom: 8px;*/
    /*background-color: transparent;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/
/*}*/

/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {*/
    /*border-color: #E7E7E7;*/
/*}*/
/*.navbar-collapse.collapse {*/
    /*display: block !important;*/
    /*height: auto !important;*/
    /*padding-bottom: 0px;*/
    /*overflow: visible !important;*/
/*}*/
/*.navbar-collapse {*/
    /*width: auto;*/
    /*border-top: 0px none;*/
    /*box-shadow: none;*/
/*}*/
/*.navbar-collapse {*/
    /*max-height: 340px;*/
    /*overflow-x: visible;*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    /*border-top: 1px solid transparent;*/
    /*box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;*/
/*}*/
/*.collapse {*/
    /*display: none;*/
/*}*/
/*.navbar-default {*/
    /*font-family: noto_sans,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*font-size: 0.9em;*/
    /*text-transform: none;*/
/*}*/
/*.navbar-nav {*/
    /*float: left;*/
    /*margin: 0px;*/
/*}*/
/*.navbar-nav {*/
    /*margin: 7.5px -15px;*/
/*}*/
/*.nav {*/
    /*margin-bottom: 0px;*/
    /*padding-left: 0px;*/
    /*list-style: none outside none;*/
/*}*/
/*ul, ol {*/
    /*margin-top: 0px;*/
    /*margin-bottom: 10px;*/
/*}*/

/*.navbar-nav > li {*/
    /*float: left;*/
/*}*/
/*.nav > li {*/
    /*position: relative;*/
    /*display: block;*/
/*}*/
/*.navbar-nav > li {*/
    /*float: left;*/
/*}*/
/*.nav > li {*/
    /*position: relative;*/
    /*display: block;*/
/*}*/
/*.dropdown {*/
    /*position: relative;*/
/*}*/

/*.navbar-default .navbar-nav > li > a {*/
    /*padding-left: 2em;*/
    /*padding-right: 2em;*/
/*}*/
/*.navbar-default .navbar-nav > li > a {*/
    /*padding-left: 1.5em;*/
    /*padding-right: 1.5em;*/
/*}*/
/*.navbar-default .navbar-nav > li > a {*/
    /*padding-left: 0.8em;*/
    /*padding-right: 0.8em;*/
/*}*/
/*.navbar-default .navbar-nav > li > a {*/
    /*color: #D2AEAE;*/
/*}*/
/*.navbar-default .navbar-nav > li > a {*/
    /*color: #777;*/
/*}*/
/*.navbar-nav > li > a {*/
    /*padding-top: 5px !important;*/
    /*padding-bottom: 5px !important;*/
/*}*/
/*.navbar-nav > li > a {*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
/*}*/
/*.navbar-nav > li > a {*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*line-height: 20px;*/
/*}*/
/*.nav > li > a {*/
    /*position: relative;*/
    /*display: block;*/
    /*padding: 10px 15px;*/
/*}*/
/*.navbar-nav > li > .dropdown-menu {*/
    /*margin-top: 0px;*/
    /*border-top-right-radius: 0px;*/
    /*border-top-left-radius: 0px;*/
/*}*/
/*.dropdown-menu {*/
    /*font-family: noto_sans,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*font-size: 0.9em;*/
    /*text-transform: none;*/
/*}*/
/*.dropdown-menu {*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*left: 0px;*/
    /*z-index: 1000;*/
    /*display: none;*/
    /*float: left;*/
    /*min-width: 160px;*/
    /*padding: 5px 0px;*/
    /*margin: 2px 0px 0px;*/
    /*list-style: none outside none;*/
    /*font-size: 14px;*/
    /*background-color: #FFF;*/
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    /*border-radius: 4px;*/
    /*box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);*/
    /*background-clip: padding-box;*/
/*}*/