
.header{
    background-image: url('/static/img/clouds.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.jumbotron {
    text-align: center;
}
.annonces {
    background-color: #E8E7E3;
    border: 1px solid #CFCBB4;
}
footer.main-footer {
    background-color: #3A3942;
    color: grey;
    padding: 40px 10px;
}

.cms_toolbar-item_logo{
    visibility: hidden;
    width: 0;
}
.salle address{
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#djangobbwrap {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-repeat: repeat-y;
}