{% load forum_extras i18n cms_tags sekizai_tags menu_tags %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ forum_settings.FORUM_BASE_TITLE }} {% block title %}{% endblock %}</title>
{#<link href="{% static "css/custom-bootstrap.css" %}" rel="stylesheet" media="screen">#}
    <meta name="description" content="{{ forum_settings.FORUM_META_DESCRIPTION }} "/>
    <meta name="keywords" content="{{ forum_settings.FORUM_META_KEYWORDS }}"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    {% set_theme_style request.user %}
    {% render_block "css" %}
    <link rel="alternate" type="application/atom+xml" href="{% url 'djangobb:forum_posts_feed' %}"
          title="{% trans "Latest posts on forum" %}"/>

    <link rel="shortcut icon" href="{{ STATIC_URL }}djangobb_forum/favicon.png" type="image/png"/>
    <script type="text/javascript">
        var STATIC_URL = "{{ STATIC_URL }}";
        var POST_PREVIEW_URL = "{% url 'djangobb:post_preview' %}";
    </script>
    {% if DEBUG %}
        <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"
                onerror="JavaScript:alert('Error loading file [' + this.src + '] !');"></script>
    {% else %}
        <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"
                onerror="JavaScript:alert('Error loading file [' + this.src + '] !');"></script>
    {% endif %}

        <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% if user.is_authenticated %}
        {% if post %}
            {% with markup=post.markup %}
                {% include "djangobb_forum/includes/markup_editor.html" %}
            {% endwith %}
        {% else %}
            {% with markup=user.forum_profile.markup %}
                {% include "djangobb_forum/includes/markup_editor.html" %}
            {% endwith %}
        {% endif %}
        <script type="text/javascript">
            $(document).ready(function () {
                $(".markup").markItUp(mySettings);
            });
        </script>
    {% endif %}

    <!-- Highlightjs goodies -->
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}djangobb_forum/css/pygments.css"/>
    {% if highlight_word %}
        <script type="text/javascript" src="{{ STATIC_URL }}djangobb_forum/js/jquery.highlight-3.pack.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("div.postmsg").highlight("{{ highlight_word }}");
            });
        </script>
    {% endif %}
    {% block extra_meta %}{% endblock %}
    {#    <script src="{% static 'js/jquery.min.js' %}"></script>#}
    {#    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>#}
    {#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}
    {#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>#}
    <link rel="stylesheet" href="{% static 'css/forum.css' %}"/>
    <style type="text/css">
        html body {
    background: url('{{ STATIC_URL }}img/Licorne-tete.png') no-repeat scroll 103% 70% transparent;
}
html body .bg-deco-right header.logo-container img.clouds, html body .bg-deco-right header.logo-container img.logo-big {
    margin-left: -788px;
    width: 1577px;
}
        html body .bg-deco-right header.logo-container img.clouds, html body .bg-deco-right header.logo-container img.logo-big {
    display: block !important;
    left: 50%;
    position: absolute;
    top: 0;
    z-index: -1;
}
        html body .bg-deco-right header.logo-container {
    margin-bottom: 135px;
}
    </style>
</head>
<body>
{% cms_toolbar %}
<div class="bg-deco-right">
<div class="container">
    {% include 'djangobb_forum/header.html' %}

    {% block messages %}
        {% if messages %}
            <div id="messages" class="block">
                <h2><span>{% trans "Notice" %}</span></h2>

                <div class="box">
                    <div class="inbox">
                        <ul class="messagelist">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock messages %}

    {% block content %}{% endblock %}
    <div id="brdfooter" class="block">
        <h2><span>{% trans "Board footer" %}</span></h2>

        <div class="box">
            <div class="inbox">
                {% block controls %}
                    <dl id="searchlinks" class="conl">
                        <dt><strong>{% trans "Search links" %}</strong></dt>
                        <dd><a href="{% url 'djangobb:search' %}?action=show_24h">{% trans "Show recent posts" %}</a>
                        </dd>
                        <dd>
                            <a href="{% url 'djangobb:search' %}?action=show_unanswered">{% trans "Show unanswered posts" %}</a>
                        </dd>
                        {% if user.is_authenticated %}
                            <dd>
                                <a href="{% url 'djangobb:search' %}?action=show_subscriptions">{% trans "Show your subscribed topics" %}</a>
                            </dd>
                            <dd>Monter vos <a
                                    href="{% url 'djangobb:search' %}?action=show_user&show_as=topics">sujet</a>/<a
                                    href="{% url 'djangobb:search' %}?action=show_user&show_as=posts">{% trans "posts" %}</a>
                            </dd>
                        {% endif %}
                    </dl>
                {% endblock controls %}

                <div class="clearer"></div>
                {% block lofi %}
                {% endblock lofi %}
            </div>
        </div>
    </div>
</div>
</div>
{% render_block "js" %}
</body>
</html>
