{% load cms_tags sekizai_tags menu_tags %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="fr">
<head>

    {% render_block "css" %}
    {% block title %}
    {% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
{% block extra_css %}{% endblock %}
{% block head_extra %}{% endblock %}
{% block extra_js %}{% endblock %}

</head>
<body>
{% block body %}

{% block crumbs %}
{% cms_toolbar %}
{% endblock %}

<div class="container">

    {% include "base_template/entete.html" %}


    {% block menu %}
        <div class="navbar navbar-inverse">


            {#        <div class="nav-collapse collapse">#}
            <ul class="nav navbar-nav">
                {% show_menu 0 100 100 100 %}

            </ul>
            {#            </div>#}

        </div>

    {% endblock %}

    {% block content %}
        <div class="content">
            <div class="well">
                <div class="row">
                    <div class="col-lg-8">
                        <h1 class="text-center">{{ request.current_page|capfirst }}</h1>


                        {% placeholder content %}


                    </div>
                    <div class="col-lg-4">


                        {% placeholder sidebar %}


                    </div>
                </div>


            </div>
        </div>
    {% endblock %}
{% block sidebar %}
    {% endblock %}
</div>
{% endblock %}
{% render_block "js" %}
</body>
</html>
