 {% load static from staticfiles %}


    <header class="logo-container">
        <a href="/">
        <img class="clouds" alt="nuages" src="{% static 'img/clouds.png' %}">
        <img class="logo-big"
             alt="Blazon de la Fédération Internationale de Vo Viet Nam FIVV - SLQT Son Long Quyen Thuat"
             src="{% static 'img/logo-only.png' %}">
{#        <img class="logo-small"#}
{#             alt="Blazon de la Fédération Internationale de Vo Viet Nam FIVV - SLQT Son Long Quyen Thuat"#}
{#             src="{% static 'img/logo-sm.png' %}">#}
            </a>
    </header>
